<p id="notice"><%= notice %></p>
name: <%= @user.name %> <br>
email: <%= @user.email %> <br>
avatar: <img src="<%= @user.avatar.url %>"

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
